* {
    box-sizing: border-box;
    margin: 0;
    text-align: center;
    scroll-behavior: smooth;

}

html,
body {
    width: 100%;
    overflow-x: hidden;
    font-family: 'Hubballi', cursive;
    color: #36454F;
    background-color: #e9e6e2;
}

h2 {
    font-family: 'Hubballi', cursive;
    color: #535e4b;
}

/* ------- end of base styles -------------- */

/* --------- start of nav bar ------------ */

#toggle {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    background-color: #535e4b;
    opacity: 0.5;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s ease;
    z-index: 300;
}

#toggle:hover {
    opacity: 1;
}

#toggle::before {
    content: '';
    position: absolute;
    width: 30px;
    height: 4px;
    background: #fff;
    transform: translateY(-5px);
    transition: 0.2s;
}

#toggle::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 4px;
    background: #fff;
    transform: translateY(5px);
    transition: 0.2s;
}

#toggle.active::before {
    transform: translateY(0px) rotate(45deg);
}

#toggle.active::after {
    transform: translate(0px) rotate(-45deg);
}

#overlay {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    background: #b5a4a3;
    opacity: 0.9;
    transition: 0.5s;
    z-index: 299;

}

#overlay.active {
    left: 0px;
}

#overlay ul {
    position: relative;
    margin-top: 20rem;
}

#overlay ul li {
    list-style: none;
    color: #535e4b;
    text-decoration: none;
    font-size: 2rem;
    margin: 1rem 0 1rem 0;
}


#overlay a {
    transition: all 1s ease;
    cursor: pointer;
}

#overlay a:hover {
    opacity: 0.5;
}





/* ------------ end of nav bar ------------- */

/* ------------ start of header --------- */


#bdaft {
    position: relative;
    text-align: center;

}

#mbdaft {
    width: 100%;
    height: 70vh;
}

#topper {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    color: #EDEAE0;

}

#topper h1 {
    font-family: 'Courier Prime', monospace;
    font-size: 6rem;
    margin: 3rem 1.1rem 0 1.1rem;
}

#dt {
    font-family: 'Courier Prime', monospace;
    font-size: 1.5rem;
    margin: 2rem 2rem 0 2rem;
}

#burger {
    margin-top: 1.2rem;
}

/* ----------- end of header ------------------ */

/* ----------- start of Our story section ---------------- */

#section-b {
    margin: 3rem 1.2rem 3rem 1.2rem;
}

#section-b h2,
#section-b p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

#section-b h2 {
    font-size: 2rem;
}

/* --------------- end of Our story section ----------------- */

/* ---------------- start of invitation ---------------------- */
.responsive {
    width: 100%;
    height: auto;
}

/* ----------------- end of invitation --------------------- */

/* ----------------  start of gallery (carousel) -------------- */

#section-c {
    height: 50vh;
    background-image: url("/images/gallery-1.jpg");
    background-size: cover;
}

/* ------------- end of gallery (carousel) -------------- */

/* ------------- start of getting there --------------------- */

#section-d {
    margin: 2rem 1.2rem 4rem 1.2rem;
}

#section-d h2 {
    font-size: 2rem;
}

#section-d h3 {
    margin: 1rem 0 .8rem 0;
    font-size: 1.5rem;
}

#section-d p {
    font-size: 1.5rem;
}

.QR {
    width: 60%;
    height: auto;
    margin: 1rem 0 0 0;
}

/* ------------- end of getting there ------------------------ */

/* --------------- start of gift guide ---------------------- */
#section-e {
    font-size: 1.5rem;
    border-top: 2px solid #b5a4a3;
}

#section-e h2 {
    margin: 3rem 0 .8rem 0;
}

#section-e p {
    margin: 0 1.2rem 1rem 1.2rem;
}

#section-e h3 {
    margin: 3.5rem 0 0 0;
}

/* ---------------- end of gift guide ---------------------- */


/* --------------- start of invite greet ------------------------- */

#section-f {
    color: #F3EDE0;
    font-size: 1.5rem;
    background-color: #b5a4a3;
    padding: 0.5rem 0 0.5rem 0;
}

/* --------------- end of invite greet --------------------- */

/*-------------- start of scroll to top button ---------------- */

#myBtn {
    display: "none";
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 3;
    border: none;
    outline: none;
    background-color: #535e4b;
    opacity: 0.7;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 7px 12px rgb(0 0 0 / 0.4);
    transition: all 1s ease;
}

#myBtn:hover {
    opacity: 1;
}


/* ---------------- end of scroll to top button -------------------- */
/* ---------------- start of footer ------------------- */

#section-g {

    margin: .5rem 1.2rem 1rem .5rem
}