@font-face {
    font-family: mainFont;
    src: url(./fonts/BrittanySignature.ttf);
}

* {
    box-sizing: border-box;
    margin: 0;
    text-align: center;
    scroll-behavior: smooth;

}

html,
body {
    width: 100%;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.7rem;
    font-weight: 300;
    color: #36454F;
    background-color: #e9e6e2;
}

h2 {
    font-weight: 400;
    color: #535e4b;
}

.grid {
    margin: 0 3rem 0 3rem;
}





/* ------- end of base styles -------------- */

/* --------- start of nav bar ------------ */

#toggle {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    background-color: #535e4b;
    opacity: 0.5;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 7px 12px rgb(0 0 0 / 0.4);
    transition: all 1s ease;
    z-index: 300;
}

#toggle:hover {
    opacity: 1;
}

#toggle::before {
    content: '';
    position: absolute;
    width: 30px;
    height: 4px;
    background: #fff;
    transform: translateY(-5px);
    transition: 0.2s;
}

#toggle::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 4px;
    background: #fff;
    transform: translateY(5px);
    transition: 0.2s;
}

#toggle.active::before {
    transform: translateY(0px) rotate(45deg);
}

#toggle.active::after {
    transform: translate(0px) rotate(-45deg);
}

#overlay {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    background: #b5a4a3;
    opacity: 0.9;
    transition: 0.5s;
    z-index: 299;

}

#overlay.active {
    left: 0px;
}

#overlay ul {
    position: relative;
    margin-top: 20rem;
}

#overlay ul li {
    list-style: none;
    color: #535e4b;
    text-decoration: none;
    font-family: mainFont;
    font-size: 5rem;
    font-weight: 400;
    margin: 1rem 0 1rem 0;
}


#overlay a {
    transition: all 1s ease;
    cursor: pointer;
}

#overlay a:hover {
    opacity: 0.5;
}





/* ------------ end of nav bar ------------- */

/* ------------ start of header --------- */


#bdaft {
    position: relative;
    text-align: center;

}

#mbdaft {
    display: block;
    width: 160%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 8px 8px -4px rgb(0 0 0 / 0.2);


}

#topper {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    color: #d4ac74;

}

#topper h1 {
    font-family: mainFont;
    font-size: 6.5em;
    line-height: 3rem;
    margin: 3rem 11rem 0 11rem;
}

#dt {

    font-size: 1.7rem;
    margin: 4rem 2rem 0 2rem;
}

#burger {
    margin-top: 1.2rem;
}

/* ----------- end of header ------------------ */

/* ----------- start of Our story section ---------------- */

#section-b {
    max-width: 805px;
    padding-bottom: 3rem;
}


#section-b p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

#section-b h2 {
    font-size: 3rem;
    font-weight: 400;
    margin: 4rem 0 2rem 0;
}

/* --------------- end of Our story section ----------------- */

/* ---------------- start of invitation ---------------------- */
.responsive {
    width: 100%;
    max-width: 1150px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);

}

/* ----------------- end of invitation --------------------- */

/* ----------------  start of gallery (carousel) -------------- */

@keyframes tonext {
    75% {
        left: 0;
    }

    95% {
        left: 100%;
    }

    98% {
        left: 100%;
    }

    99% {
        left: 0;
    }
}

@keyframes tostart {
    75% {
        left: 0;
    }

    95% {
        left: -300%;
    }

    98% {
        left: -300%;
    }

    99% {
        left: 0;
    }
}

@keyframes snap {
    96% {
        scroll-snap-align: center;
    }

    97% {
        scroll-snap-align: none;
    }

    99% {
        scroll-snap-align: none;
    }

    100% {
        scroll-snap-align: center;
    }
}





ol,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.carousel {
    position: relative;
    padding-top: 75%;
    max-width: 1150px;
    margin-right: auto;
    margin-left: auto;
    filter: drop-shadow(0 0 10px #0003);
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    perspective: 100px;
}

.carousel__viewport {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    overflow-x: hidden;
    counter-reset: item;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}

.carousel__slide {
    position: relative;
    flex: 0 0 100%;
    width: 100%;
    background-image: url("./images/carousel-1.jpg");
    background-size: cover;

}

.carousel__slide:nth-child(2) {
    background-image: url("./images/carousel-2.jpg");
}

.carousel__slide:nth-child(3) {
    background-image: url("./images/carousel-3.jpg");
}

.carousel__slide:nth-child(4) {
    background-image: url("./images/carousel-4.jpg");
}

.carousel__slide:before {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -40%, 70px);
}

.carousel__snapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    scroll-snap-align: center;
}

.carousel__snapper {
    animation-name: tonext, snap;
    animation-timing-function: ease;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.carousel__slide:last-child .carousel__snapper {
    animation-name: tostart, snap;
}



@media (prefers-reduced-motion: reduce) {
    .carousel__snapper {
        animation-name: none;
    }
}






/* ------------- end of gallery (carousel) -------------- */

/* ------------- start of getting there --------------------- */

#section-d {
    padding: 3rem 0 3rem 0;
}

#section-d h2 {
    font-size: 2rem;
    margin: 0 0 2.5rem 0;
}

#section-d h3 {
    margin: 1rem 0 .8rem 0;
    font-size: 1.5rem;
}

#section-d p {
    font-size: 1.5rem;
}

.QR {
    width: 50%;
    max-width: 175px;
    height: auto;
    margin: 1.5rem 0 0 0;
}

.reminder-seats {
    margin: 3rem 0 0 0;

}

/* ------------- end of getting there ------------------------ */
.divide {
    border-top: 2px solid #b5a4a3;
}

/* --------------- start of gift guide ---------------------- */
#section-e {


    font-size: 1.5rem;
    padding-bottom: 2rem;


}



#section-e h2 {
    margin: 3rem 0 .8rem 0;

}


#section-e h3 {
    margin: 3.5rem 0 0 0;
}

.name-acct {
    margin: 1rem 0 0 0;
}

/* ---------------- end of gift guide ---------------------- */


/* --------------- start of invite greet ------------------------- */

#section-f {
    color: #F3EDE0;
    font-size: 1.5rem;
    background-color: #b5a4a3;
    padding: 0.5rem 0 0.5rem 0;
}

/* --------------- end of invite greet --------------------- */

/*-------------- start of scroll to top button ---------------- */

#myBtn {
    display: "none";
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 3;
    border: none;
    outline: none;
    background-color: #535e4b;
    opacity: 0.7;
    font-size: 1.3rem;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 7px 12px rgb(0 0 0 / 0.4);
    transition: all 1s ease;
}

#myBtn:hover {
    opacity: 1;
}


/* ---------------- end of scroll to top button -------------------- */
/* ---------------- start of footer ------------------- */

#section-g {

    margin: .5rem 1.2rem 1rem .5rem;

}

#section-g p {
    font-size: 1.3rem;
}

/* ------------- singit base styles ---------------------------- */

.container {
    margin: 3rem auto 2rem auto;
    max-width: 624px;
}

/* ------------------- media queries ----------------------------------------- */

@media (min-width: 700px) {
    #topper h1 {

        font-size: 9rem;
        line-height: 8rem;


    }

    #dt {

        font-size: 2.5rem;

    }

    .grid {
        margin: 0 5rem 0 5rem;
    }


}

@media (min-width: 1000px) {
    #topper h1 {

        font-size: 8rem;
        line-height: 9rem;

    }

    #dt {

        font-size: 2.5rem;

    }

    #mbdaft {

        width: 100%;



    }
}

@media (min-width: 1200px) {
    #topper h1 {
        font-size: 10rem;
        line-height: 11rem;
    }

    #dt {

        font-size: 3rem;

    }
}

@media (min-width: 1400px) {
    #topper h1 {
        font-size: 12rem;
        line-height: 11rem;
    }

    #dt {

        font-size: 3rem;

    }
}